<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.deone.getemacommands</string>

    <key>ProgramArguments</key>
    <array>
	<string>sh</string>
	<string>/Users/deone/.virtualenvs/fabrice/fabrice/mul/get_ema_commands.sh</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>StartInterval</key>
    <integer>600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/deone/.virtualenvs/fabrice/fabrice/mul/logs/getemacommands.log</string>

    <key>StandardOutPath</key>
    <string>/Users/deone/.virtualenvs/fabrice/fabrice/mul/logs/getemacommands.log</string>
</dict>
</plist>
